<html>
    <head>
        <title>flower classification</title>
    </head>
    <body>
        <p>flower classification project</p>
        <form action="#" method="post">
            <p>petal length</p>
            <p><input type="" name="plen"></p>

            <p>petal width</p>
            <p><input type="number" name="pwid"></p>

            <p>sepal length</p>
            <p><input type="number" name="slen"></p>

            <p>sepal width</p>
            <p><input type="number" name="swid"></p>

            <p>Analyze</p>
            <p><input type="submit",value="submit"></p>

            
            


        </form>
    </body>
</html>